.content {
    width: 99vw;
    height: 99vh;
    display: flex;
    flex-direction: column;
    margin-top:15px;
}

.content__email {
    width: 100px
} 

.content__container {
    width: 100%;
    height: 94%;
    border: 1px solid black;
    margin-top:15px;
    box-sizing: border-box;
    overflow-y: scroll;
}

.content__switcher {
    position: absolute;
    right: 2%;
    top: 1%;
}

.message_container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 50px;
    margin: 10px 0;
    padding: 5px;
    overflow: hidden;

}
.open {
    border: 1px solid black;
    padding: 30px;
    margin: 20px;
}

.open div {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;

}

.from, .time {
    display: flex;
    justify-content: center;
    align-items: center;
}
.message {
    height: inherit;
}

  .theme {
    position: relative;
    display: flex;
    align-items: center;
    left: -50px;
    height: 100%;
    width: 100%;
  }
