.content {
    width: 99vw;
    height: 99vh;
    display: flex;
    flex-direction: column;
    margin-top:15px;
}

.content__email {
    width: 100px
} 

.content__container {
    width: 100%;
    height: 94%;
    border: 1px solid black;
    margin-top:15px;
    box-sizing: border-box;
    overflow-y: scroll;
}

.content__switcher {
    position: absolute;
    right: 2%;
    top: 1%;
}

  .theme {
    position: relative;
    display: flex;
    align-items: center;
    left: -50px;
    height: 100%;
    width: 100%;
  }
