.Main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(44,49,58);
  color: #adafb2;
  font-family: monospace; 
  font-size: 15px; 
  font-style: normal;
}

.white {
  background-color: white;
  color: black;
}


