
.get-button {
    width: 50vw;  
    height: 10vh;
    font-size: 21px;
    font-family: monospace;
    border-radius: 19px;
    outline: none;
    color: #adafb2;
    background-color: rgb(44,49,58);
  }